@page "/"
@using LiveChartsCore
@using LiveChartsCore.SkiaSharpView
@using LiveChartsCore.SkiaSharpView.Blazor

<style>
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
</style>
<PageTitle>Index</PageTitle>
<MudGrid Class="pt-3">
    <MudItem xs="12" sm="6" md="3">
        <MudCard>
            <MudCardContent>
                <MudText Align="Align.Center" Color="Color.Primary" Typo="Typo.h5">Verbruik</MudText>
                <MudText Align="Align.Center" Typo="Typo.h2">3.093</MudText>
                <MudText Align="Align.Center" Typo="Typo.h5">kWh</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard>
            <MudCardContent>
                <MudText Align="Align.Center" Color="Color.Primary" Typo="Typo.h5">Opwekking</MudText>
                <MudText Align="Align.Center" Typo="Typo.h2">1.783</MudText>
                <MudText Align="Align.Center" Typo="Typo.h5">kWh</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard>
            <MudCardContent>
                <MudText Align="Align.Center" Color="Color.Primary" Typo="Typo.h5">Teruglevering</MudText>
                <MudText Align="Align.Center" Typo="Typo.h2">4.021</MudText>
                <MudText Align="Align.Center" Typo="Typo.h5">kWh</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard>
            <MudCardContent>
                <MudText Align="Align.Center" Color="Color.Primary" Typo="Typo.h5">Opname</MudText>
                <MudText Align="Align.Center" Typo="Typo.h2">2.453</MudText>
                <MudText Align="Align.Center" Typo="Typo.h5">kWh</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            <MudItem sm="12" md="8">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                    <div style="width: 100%; height: 100%">
                        <CartesianChart
                            Series="series">
                        </CartesianChart>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem sm="12" md="4">
                <MudGrid>
                    <MudItem xs="12">
                        <MudCard>
                            <MudCardContent>
                                <MudText Align="Align.Center" Color="Color.Primary" Typo="Typo.h5">
                                    Opname vandaag
                                </MudText>
                                <MudText Align="Align.Center" Typo="Typo.h2">1.874</MudText>
                                <MudText Align="Align.Center" Typo="Typo.h5">kW</MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="12">
                        <MudCard>
                            <MudCardContent>
                                <MudText Align="Align.Center" Color="Color.Primary" Typo="Typo.h5">
                                    Teruglevering vandaag
                                </MudText>
                                <MudText Align="Align.Center" Typo="Typo.h2">5.793</MudText>
                                <MudText Align="Align.Center" Typo="Typo.h5">kW</MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="12">
                        <MudCard>
                            <MudCardContent>
                                <MudText Align="Align.Center" Color="Color.Primary" Typo="Typo.h5">
                                    Gasverbruik vandaag
                                </MudText>
                                <MudText Align="Align.Center" Typo="Typo.h2">1.253</MudText>
                                <MudText Align="Align.Center" Typo="Typo.h5">kW</MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="12">
                        <MudCard>
                            <MudCardContent>
                                <MudText Align="Align.Center" Color="Color.Default" Typo="Typo.h5">
                                    Meterstanden
                                </MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12">

    </MudItem>
</MudGrid>

@code {
    private readonly ISeries[] series =
    {
        new LineSeries<double>
        {
            Name = "Test",
            Values = new double[] { 2, 1, 3, 5, 3, 4, 6 },
            Fill = null
        }
    };
}

<style>
    canvas {
        width: 100%;
        height: 100%;
    }
    .mud-paper {
        width: 100%;
        height: 100%;
    }
    
    .lvc-canvas-container {
        width: 100%;
        height: 100%;
    }
</style>
